*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Segoe UI',sans-serif;
}

/* BODY */
body{
  background:linear-gradient(135deg,#0f172a,#1e293b);
  color:#e2e8f0;
}

/* HEADER */
.header{
  text-align:center;
  padding:40px;
  background:linear-gradient(135deg,#06b6d4,#3b82f6);
  color:white;
}

.header h1{
  font-size:32px;
}

.header p{
  margin-top:8px;
}

/* CONTAINER */
.container{
  max-width:1000px;
  margin:auto;
  padding:20px;
}

/* CARD */
.card{
  background:#1e293b;
  border-radius:14px;
  padding:20px;
  margin-bottom:20px;
  border:1px solid #334155;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-5px);
  border-color:#38bdf8;
}

.card h2{
  color:#38bdf8;
}

/* VIDEO */
iframe{
  width:100%;
  height:350px;
  border-radius:10px;
  margin-top:10px;
}

/* LIST */
ul{
  margin-top:10px;
  padding-left:20px;
}

/* BUTTON */
.btns{
  display:flex;
  gap:10px;
}

button{
  flex:1;
  padding:12px;
  border:none;
  border-radius:10px;
  background:#06b6d4;
  color:black;
  font-weight:bold;
  cursor:pointer;
}

button:hover{
  background:#0284c7;
}

/* MOBILE */
@media(max-width:768px){
  iframe{height:220px;}
  .btns{flex-direction:column;}
}